@font-face {
  font-family: "proxima nova alt light";
  src: url("../font/proxima-nova-alt-light.otf"),
    url("../font/proxima-nova-bold.otf");
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "proxima nova alt light",
    "Helvetica Neue", Helvetica, Arial, Sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-primary);
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  box-sizing: border-box;
}

:root {
  /* button dark light */
  --img-url-light-on: url(../images/light-on.svg) no-repeat center;

  /* bg dark mode */
  --bg-primary: #f2f2f2;
}

/* section maintenance */

.maintenance {
  align-self: center;
  position: fixed;
  font-size: 1.3rem;
  bottom: 0;
  font-weight: 600;
  z-index: 2;
  color: #e33713;
}

/* section of the attributes and navegation*/

.main-menu {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  min-height: 100vh;
  background: rgb(239 239 239 / 78%);
}

.nav-bar {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav-bar a {
  width: 10rem;
  padding: 1.1rem 0;
  text-decoration: none;
  color: #646464;
  border-bottom: 1px solid #f8f6f6;
  font-size: 1.1rem;
  transition: filter 0.5s ease-in-out;
}

.nav-bar a:last-child {
  border-bottom: none;
}

.nav-bar a:hover {
  background: #cecece14;
  filter: brightness(1);
  color: #146c8a;
}

.social {
  display: flex;
  gap: 1rem;
  transform: translateY(30px);
}

.social .hydrated {
  color: rgb(0, 0, 0);
  width: 1.3rem;
  height: 1.3rem;
  transition: filter 0.1s ease-in-out;
}

.social #logo-linkedin {
  color: #0a66c2;
}

.social .hydrated:hover {
  filter: blur(1px);
}

/* default mode */

.container {
  position: relative;
  width: calc(100% - 50px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.section-my-name {
  position: absolute;
  top: 6rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
}

.section-my-name span {
  font-style: italic;
  color: #646464;
}

.section-my-name #my-name {
  width: 26.8rem;
  font-size: 2.5rem;
}

/* button light-dark */

.container .btn-dark-light {
  position: fixed;
  left: 0;
  top: 4rem;
  cursor: pointer;
  transition: background 0.2s;
  transform: translate(130%, -98%);
  height: 43px;
  z-index: 2;
  width: 43px;
  height: 42px;
  background: var(--img-url-light-on);
  cursor: pointer;
  animation: transicao-btn-dark-light 2s ease-in-out infinite;
}

@keyframes transicao-btn-dark-light {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* section of the attributes */
nav a:not(.not-this-01) {
  text-decoration: line-through;
}

#home {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  align-items: center;
}

#home .parallax-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home h2 {
  color: #333333;
  font-size: 4.2rem;
  font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial,
    Sans-serif;
}

#home p {
  margin-top: 0.3rem;
  width: 21rem;
  text-align: center;
  color: #646464;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

#home .section-human {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: -31px;
}

#home .section-code {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home .section-code h2 {
  display: flex;
  align-items: end;
}

#home .section-code h2 span {
  line-height: 1;
}

#home .section-code h2 .symbol-left {
  padding: 0 0.1em 0 0;
}

#home .section-code h2 .symbol-right {
  padding: 0 0 0 0.14em;
}

#about-me {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: calc(100% - 50px);
  min-height: 100vh;
}

#about-me .parallax-about-me {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-me .parallax-inner-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  text-align: center;
}

#about-me .parallax-inner-text .sub-title {
  width: 28rem;
  letter-spacing: 1px;
  color: #757575;
  font-size: 1.3rem;
}

#about-me .parallax-inner-text .section-paragraph {
  background-size: cover;
  width: 36rem;
  letter-spacing: 1px;
  font-size: 1.1em;
  color: #333333;
  margin-top: 30px;
}

#about-me .parallax-inner-text .paragraph-01 {
  margin-top: 15px;
}

#about-me .parallax-inner-text .paragraph-02 {
  margin-top: 15px;
}

#about-me {
  height: 100vh;
  overflow: hidden;
}

#go-up-button {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 32px;
  height: 32px;
  background-image: url(../images/go-up-button.png);
  cursor: pointer;
  transform: translate(-25px, -25px);
  animation: transition-btn-go-up 5s ease-in-out infinite;
}

@keyframes transition-btn-go-up {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* MEDIA QUERIES */

/* @media (max-width: 1080px) {
  body {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  body {
    font-size: 87.5%;
  }
} */
